#welcome
  background-image url(//blog.meathill.com/wp-content/uploads/2016/12/MG_5350-1200x800.jpg)
  background-repeat no-repeat
  background-size 100% auto
  background-position-y -350px
  padding-top 430px

  h1
    text-align center
    padding-bottom 2rem
    border-bottom 1px solid silver
    margin-bottom 2rem