.article
  .list
    padding 0

    li
      list-style none

      img
        max-height 200px

    a.card
      color black

      &:hover
        background-color alert-info-bg
        border-color brand-primary
        text-decoration none

    .add
      .btn
        color #444
        font-size 5em
        border .5rem dashed

      button
        height 10rem

      input
        display none

  &.single
    header > *:last-child
      padding-top 3rem

#article-list
  .card
    width 100%