.article
  .list
    padding 0

    li
      list-style none
      margin-bottom 1rem

      .card-block
        position relative

      .status
        position absolute
        top 1rem
        right 1rem

    .card-img-top
      display block
      margin 0 auto
      width 100%
      height 250px
      object-fit cover

    a.card
      color black

      &:hover
        background-color alert-info-bg
        border-color brand-primary
        text-decoration none

    .add

      .btn
        cursor pointer
        padding 3rem 0 0

      .fa-stack
        font-size 3em

      .caption
        line-height 4
        font-size 2rem

      input
        display none

  &.single
    header
      .thumbnail img
        max-height 200px
        object-fit cover

      > *:last-child
        padding-top 3rem

    .thumbnail label
      width 100%
      cursor pointer

      img
        width 100%

        &:hover
          border-color brand-primary

    .album
      .delete-button
        background-color transparent
        border-color currentColor
        color white
        position absolute
        top .5rem
        right .5rem

        &:hover
          background-color darken(red, 20%)
          color white