#config
  padding 0
  display flex
  flex-direction column

  > header
    padding 2rem
    border-bottom 1px solid border-color

  .nav-tabs
    .nav-item
      min-width 12.5rem
      text-align center

    .nav-link
      border-top none
      border-bottom none
      border-right-color border-color
      color gray
      font-size 1.25rem
      line-height 2.2

      &.active
        color active-color

  .tab-content
    background-color white
    flex 1
    padding 2rem