#help
  display flex
  flex-direction column

#help-author
  article.col-sm-6:first-child
    border-right 1px solid border-color
    padding-right 2rem

    h3
      margin-bottom 2rem

    img
      margin-bottom 1rem

  article.col-sm-6:last-child
    padding-left 2rem

    h3
      margin-bottom 3rem

    .lead
      margin-top 5rem