aside-width = 8.75rem
gap = 1rem

#home
  height 100%

  aside
    width: aside-width
    position fixed
    top: 0
    left: 0
    bottom: 0

    > a.btn
      background-color #444
      border none
      border-radius 0
      color muted-color
      display block
      height aside-width
      line-height aside-width
      padding 0

      &:hover,
      &:active
        background-color lighten(#444, 15%)
        color white

      &.router-link-active
        background-color active-color
        color white

      &.secondary
        background-color transparent
        border none
        position absolute
        left 0
        bottom 0
        width aside-width

  .container-fluid
    background-color blur-background-color
    min-height 100%
    margin-left aside-width
    padding-left 2rem

  .settings
    .card-img-top
      width 100%

.site-icon
  max-width 64px
  max-height 64px