#preview
  > header
    border-bottom 1px solid gray
    margin-bottom 1rem
    padding-bottom 1rem
    position relative

    p
      margin-bottom 0

    .button-group
      position absolute
      right 0
      bottom 1rem + .25rem

  .navbar
    margin-bottom 1rem

  iframe
    border none
    width 100%