#preview
  padding 0 2rem

  > header
    background-color white
    border-bottom 1px solid gray
    margin 0 -2rem 1rem
    padding 2rem 1.5rem 1.5rem 2rem
    position relative

    p
      font-size 0.875rem
      margin-bottom 0

    .button-group
      position absolute
      right 2rem
      bottom 1.5rem

      .btn + .btn
        margin-left 1rem

  .navbar
    padding 0
    margin-bottom 1rem

    button
      line-height 1.875rem
      width 3rem

      + button
        margin-left .5rem

  iframe
    border none
    width 100%