h2
  font-size 1.875rem

.form-control
  background-color blur-background-color
  color gray

  &::-webkit-input-placeholder
    color muted-color

  &:focus
    border-color active-color

.btn-outline-primary
  color active-color
  border-color active-color

  &:hover,
  &:active
    background-color active-color
    border-color darken(active-color,10%)
    color white

.btn-secondary:hover
  color active-color
  background-color transparent
  border-color active-color

.nav-tabs
  .nav-item
    min-width 12.5rem
    text-align center

    + .nav-item .nav-link
      border-left-color border-color

    &:last-child .nav-link
      border-right 1px solid border-color

  .nav-link
    border-top none
    border-bottom none
    border-right none
    border-radius 0
    color gray
    font-size 1.25rem
    line-height 2.2

    &.active
      color active-color

  + div.row
    flex 1

.tab-content
  background-color white
  padding 2rem
  width 100%
