white = #fff
$black = #000
$red = #d9534f
orange = #f0ad4e
yellow = #ffd500
green = #5cb85c
blue = #0275d8
teal = #5bc0de
pink = #ff5b77
purple = #613d7c

brand-primary = blue
brand-success = green
brand-danger = red

state-success-text = #3c763d
state-success-bg = #dff0d8
state-success-border = darken(state-success-bg, 5%)

btn-success-bg = brand-success


alert-info-bg = #d9edf7