aside-width = 80px
gap = 10px
button-size = aside-width - gap * 2

#aside
  background: gray
  width: aside-width
  position fixed
  top: 0
  left: 0
  bottom: 0

  ul
    padding: gap gap 0
    margin: 0

    li
      background: white
      list-style none
      width button-size
      height button-size
      line-height button-size
      border-radius 4px
      text-align center