@import "../node_modules/colors.css/stylus/variables.styl"

// framework
@import "framework/_body.styl"
@import "framework/_site.styl"
@import "framework/_site-welcome.styl"

body
  padding 1rem 0 0

// page