@import "../node_modules/colors.css/stylus/variables.styl"

// core
@import "core/_text.styl"
@import "core/_display.styl"
@import "core/_color.styl"

// framework
@import "framework/_body.styl"
@import "framework/_app.styl"
@import "pages/_site.styl"

// page
@import "pages/_welcome.styl"
